<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <style>
        .stylefor {
            margin: 5px;
            width: 70vw;
            height: 30px;
        }
    </style>
</head>

<body>
    <!-- <div>
        <form method="POST">
            {% csrf_token %}
            <lable> value 1</lable>
            <input class="stylefor" type="text" name="v1"><br>
            <lable> select opr... 1</lable>
            <select class="stylefor" name="opr">
                <option value="+">+</option>
                <option value="-">-</option>
                <option value="*">*</option>
                <option value="/">/</option>
            </select><br>
            <lable>value 2</lable>
            <input class="stylefor" type="text" name="v2"><br>
            <input type="submit"><br>
            <label for="outputshow">Output</label>
            <input class="stylefor" type="text" value="{{c}}">
        </form>
    </div> -->
    <div>
        <form method="POST" action="">
        {% csrf_token %}
            <label for="value1">value</label>
            <input class="stylefor" type="text" name="info" value="{{n}}" > <br>
            <button type="submit">Even | Odd</button> <br>
            <label for="outputshow">Output</label>
            <input class="stylefor" type="text" value="{{c}}">
        </form> 
    </div>
</body>

</html>