.greet{
    margin-left: 150px;
    padding-left: 15px;
}
.greeting{
    font-size: 50px;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
}
.welcoming_greet{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-weight: 600;
}
