.login_container{
    display: flex;
    justify-content: center;
    margin-left: 155px;
    margin-right: 20px;
}
.login_entry{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
}
.login_details{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    font-style: italic;
}
.options{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    height: 30px;
    text-align: center;
    border-radius: 10px;
    border-width: 1px;
    border-color: rgb(182, 181, 181);
}
.entry_value{
    margin-top: 5px;
    height: 28px;
    font-size: 15px;
    border-radius: 3px;
    border-width: 1px;
    border-color: rgb(182, 181, 181);
    padding-left: 5px;
}
.pass{
    text-align: start;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    margin-top: 5px;
    text-align: center;
}
.login_submit{
    margin-top:5px ;
    height: 35px;
    width: 100px;
    font-size: 15px;
    font-weight: 600;
    background-color: rgb(209, 45, 45);
    border: none;
    align-self: center;
    color: white;
    border-radius: 5px;

}
.register_link{
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    color:whitesmoke;
    padding-left: 5px;
    text-decoration: none;
}
