
body{
    background-image: linear-gradient(#dfd2d2 0%, rgb(34, 141, 228) 70%  );height:930px;
}

.up_container{
    display: flex;
    flex-direction:column;
    height: 760px;
    align-items: center;
    justify-content: center;
}
.container{
    width: 1200px;
    height: 450px;
    display: flex;
    background-color: white;
    box-shadow: 0 0 10px rgb(68, 66, 66) ;
    border-radius: 20px;

}
.left{
    width: 650px;
}
.right{
    flex:1 ;
}
.college_animated_pic{
    width: 650px;
    height: 450px;
    border-radius: 20px;
}
.sign_up{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;

}
.font_desgin{
    padding-left: 10px;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}
.date_roll{
    display: flex;
    flex-direction: row;
}
.date_roll_no{
    flex: 1;
}
.input_Data{
    height: 25px;
    width: 140px;
    font-size: 13px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    border-radius: 10px;
    padding-left: 5px;
    margin: 5px 0px 5px 0px;
    border-color: rgb(139, 138, 138);
    border-style: solid;
    border-width: 0px 1px 0px 1px;
}
.email-gmail{
    height: 25px;
    font-size: 13px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    border-radius: 10px;
    padding-left: 5px;
    margin: 5px 0px 5px 0px;
    width: 200px;
    border-color: rgb(139, 138, 138);
    border-style: solid;
    border-width: 0px 1px 0px 1px;
}
.button_signing_up{
    display: flex;
    align-items: center;
    justify-content:center ;
}
.sign_up_button{
    border: none;
    border-radius: 10px;
    font-size: 15px;
    height: 40px;
    width: 100px;
    color: white;
    background-image: linear-gradient(#e0cbcb 0%, rgb(76, 56, 252) 70%  );
    padding: 10px 0px;
}
.sign_up_button:hover{
    cursor:pointer;
    background-image: linear-gradient(#c2bebe 0%, rgb(23, 9, 150) 70%  );
}