.sidebar{
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: left;
    width: 150px;
    height: 100%;
}

.side_container{
    height: 100%;
    background-image: linear-gradient(#dfd2d2 0%, rgb(34, 141, 228) 70%  );
}