<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/about_us.css">
    <link rel="stylesheet" href="/static/css/index/nav.css">
    <link rel="stylesheet" href="/static/css/footer.css">
</head>
<body>
    <div class="nav_bar">
        <div class="comp_name">
            <h1 class="company_name">
                NoteCrud
            </h1>
        </div>
        <div class="nav_buttons">
            <p class="search_button">
                Search
            </p>
            <p class="Details_button">
                Details
            </p>
            <!-- <button class="Sign_up_button">
                Sign up
            </button> -->
            <button class="sign_in_button">
                Sign in
            </button>
        </div>
    </div>

    <div class="page_heading">
        <h1 class="page_heading_text">ABOUT THE TEAM</h1>
    </div>

    <div class="about_us_hero">
        <div class="hero_animation_1">
            <p class="alfiya" draggable="false">
                Alfiya Shaikh
            </p>
            <div class="about_us_info">
                <h1 class="info_heading">
                    LOGIC
                </h1>
                <p class="info_text">
                    The mastermind behind Logic<br><br>I'm Alfiya.<br><br>
                    mostly I don't do much but I thought let's do something.<br>I tend to forget most of the things that's why my teammates YELL AT ME.<br>But well here we are now. :'/
                </p>
            </div>
        </div>
        <div class="hero_animation_2">
            <p class="amaan" draggable="false">
                Amaan Shaikh
            </p>
            <div class="about_us_info">
                <h1 class="info_heading f1">
                    UI
                </h1>
                <p class="info_text f2">
                    The mastermind behind everything you See<br><br>Amaan here!<br><br>
                    Well I am not saying i am smart but I am.<br>
                    I always wanted to do cool things and I am quite creative.<br>Well sometimes I don't do anything besides playing games.<br>
                    See ya.
                </p>
            </div>
        </div>
        <div class="hero_animation_3">
            <p class="ashad" draggable="false">
                Ashad Shaikh
            </p>
            <div class="about_us_info">
                <h1 class="info_heading">
                    BACKEND
                </h1>
                <p class="info_text">
                    The mastermind behind everything you dont see <br><br>Oi Ashad here!!!<br><br>
                    So currently I handle backend !<br>
                    so yea that's that nothing much to say but that's how it's gonna be.
                </p>
            </div>
        </div>
    </div>

    <div class="about_company">
        <h1 class="about_company_heading">ABOUT COMPANY</h1>
        <div class="about_company_animation">
            <p class="anime_company_name">
                NOTECRUD
            </p>
            <div class="about_us_text">
            <p class="anime_company_description tt1">
                Welcome to NoteCrud, a hub for students, by students. We’re a team of three college friends who realized that the best way to navigate the maze of academia is through collaboration and sharing resources.<br>
                If you are wondering why the name NoteCrud, Well the Crud stands for Create, Read, Understand and Download.
            </p>
            <br><br>
            <p class="anime_company_description tt2">
                It all started in our Second year when we found ourselves juggling multiple classes, assignments, and extracurricular activities. And we noticed one challenge: finding quality notes that could help us prepare better for exams and assignments.
                <br>
                While we each had our own ways of taking notes, we quickly discovered that combining our resources and sharing them with others could make a huge difference.
            </p>
            <br class="tt2"><br class="tt2">
            <p class="anime_company_description tt3">
                We aim to create a comprehensive, collaborative, and user-friendly platform that helps students succeed academically. We believe in the power of shared knowledge and are committed to fostering a community where students can support each other.
            </p>
            <br class="tt3"><br class="tt3">
            <p class="anime_company_description tt4">
                JOIN US! Whether you’re looking to find notes for your next exam or share your own to help others, NoteCrud is the place for you. Together, we can build a community where every student has the tools they need to succeed.
                <br>
                <br>
                Thank you for being a part of our journey!
            </p>
        </div>
        </div>
    </div>
    
<!-- footer starts here -->
    
{% include "footer.html" %}
</body>
</html>