<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoteCrud</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/css/footer.css">
</head>

<body>
    {% block body %}{% endblock body %} 

    <div class="footer">
        <div class="footer_company_name">
            <h1 class="footer_company_name_text">NoteCrud</h1>
            <div class="footer_company_socials">
                <img src="https://www.svgrepo.com/show/452229/instagram-1.svg" alt="" class="footer_insta"
                    draggable="false">
                <img src="https://cdn.iconscout.com/icon/free/png-512/free-twitter-x-9583449-7741112.png?f=webp&w=256"
                    alt="" class="footer_twitter" draggable="false">
                <img src="https://www.svgrepo.com/show/475700/youtube-color.svg" alt="" class="footer_yt"
                    draggable="false">
            </div>
        </div>
        <div class="footer_details">
            <div class="footer_info1">
                <p class="footer_company_topic">
                    <bolder>Company</bolder>
                </p>
                <p class="links"><a href="/About-Us">About us</a></p>
                <p class="links"><a href="/About-Us">Security</a></p>
                <p class="links"><a href="/About-Us">Terms and Privacy</a></p>
                <p class="links"><a href="/Contact-us">Contact Us</a></p>
            </div>
            <div class="footer_into2">
                <p class="footer_topic">
                    <bolder>EARN</bolder>
                </p>
                <p class="links"><a href="/About-Us">Work with us</a></p>
                <p class="links"><a href="/About-Us">Premium</a></p>
            </div>
        </div>
    </div>
</body>

</html>