<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoteCrud</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/css/index/index.css">
    <link rel="stylesheet" href="/static/css/index/nav.css">
    <link rel="stylesheet" href="/static/css/footer.css">
</head>

<body>
    <div class="nav_bar">
        <div class="comp_name">
            <h1 class="company_name">
                NoteCrud
            </h1>
        </div>
        <div class="nav_buttons">
            <p class="search_button">
                Search
            </p>
            <p class="Details_button">
                Details
            </p>
            <!-- <button class="Sign_up_button">
                Sign up
            </button> -->
            <button class="sign_in_button">
                Sign in
            </button>
        </div>
    </div>
    {% block body %}{% endblock body %}
</body>

</html>