{% include "header.html" %}
{% block body %}
<div class="hero">
    <div class="hero_heading">
        <h1 class="hero_heading_text">
            Your Digital Notebook, Anywhere, Anytime
        </h1>
        <p class="hero_heading_description">
            Organize, Sync, and Access Your Notes Effortlessly on All Devices
        </p>
        <button class="hero_heading_button">
            Get Started
        </button>
    </div>
</div>
<div class="hero_animation">
    <div class="hero_animation_heading">
        <h1 class="hero_animation_heading_text">
            Notes we provide.
        </h1>
    </div>
    <div class="hero_animation_images">
            <div class="photo1_2_3">
                <img src="/static/image/note.png" alt="Error loading..." class="hero_animation_photos photo1">
                <img src="/static/image/handwritten.png" alt="Error loading..." class="hero_animation_photos photo2">
                <img src="/static/image/question.png" alt="Error loading..." class="hero_animation_photos photo3">
            </div>
            <div class="photo3_4_5">
                <img src="/static/image/reference.png" alt="Error loading..." class="hero_animation_photos photo4">
                <img src="/static/image/sample.png" alt="Error loading..." class="hero_animation_photos photo5">
                <img src="/static/image/textbook.png" alt="Error loading..." class="hero_animation_photos photo6">
            </div>
            <!-- <img src="/media/PicsArt_06-16-03.03.05.jpg" alt="" class="hero_animation_main_logo"> -->
    </div>
</div>
<div class="sub_footer">
    <div class="sub_footer_info">
        <h1 class="sub_footer_heading">
            Get Started for Free
        </h1>
        <p class="sub_footer_text">
            Play around with it first. Pay and add your team later.
        </p>
            <button class="sub_footer_button">
                Get Started Now
            </button>
    </div>
</div>
{% endblock body %}
{% include "footer.html" %}

   