<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search.Notecrud</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/search.css">
    <link rel="stylesheet" href="/static/css/sidebar.css">
    <!-- <link rel="stylesheet" href="/static/css/footer.css"> -->
</head>
<body>
    <div class="sidebar" id="sidebar">
        <div class="toggle-btn" onclick="toggleSidebar()">
            <i class="fas fa-bars"></i>
        </div>
        <div class="userId">
        
        </div>
        <div class="company_name">
            <h1 class="comp_name">
                NoteCrud
            </h1>
        </div>
        <div class="sidebar_btn">
            <button class="side_btn Dashboard"><i class="fas fa-tachometer-alt"></i> Dashboard</button>
            <button class="side_btn browse"><i class="fas fa-search"></i> Browse</button>
            <button class="side_btn chatox"><i class="fas fa-comment-alt"></i> Chatbox</button>
            <button class="side_btn blog"><i class="fas fa-blog"></i> Blog</button>
            <button class="side_btn settings"><i class="fas fa-cog"></i> Settings</button>
            <button class="side_btn liked_notes"><i class="fas fa-sticky-note"></i> Liked Notes</button>
        </div>
    </div>

    <div class="content">
        <input type="text" placeholder="Search notes..." class="search_box">

    </div>


    
    <script>
        function toggleSidebar() {
            const sidebar = document.getElementById('sidebar');
            sidebar.classList.toggle('show');
        }
    </script>
</body>
</html>